*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

:root {
  --Soft-red: rgb(254, 120, 103);
  --Yellow: rgb(250, 212, 0);
  --Dark-desaturated: rgb(37, 86, 75);
  --Dark-blue: rgb(25, 83, 107);
  --Dark-moderate: rgb(134, 211, 196);
  --Grayish-blue: rgb(167, 171, 174);
  --White: rgb(255, 255, 255);
  --Dark-grayish-blue: rgb(129, 132, 152);
  --dark-desaturated-blue: rgb(35, 48, 62);
  --dark: rgb(90, 99, 108);
}

@font-face {
  font-family: Barlow-bold;
  src: url(../assets/font/Barlow-Bold.ttf) format(TrueType);
}

@font-face {
  font-family: Barlow-ExtraBold;
  src: url(../assets/font/Barlow-ExtraBold.ttf) format(TrueType);
}

@font-face {
  font-family: Barlow-Light;
  src: url(../assets/font/Barlow-Light.ttf) format(TrueType);
}

@font-face {
  font-family: Fraunces-Regular;
  src: url(../assets/font/Fraunces_72pt_Soft-Regular.ttf) format(TrueType);
}

@font-face {
  font-family: Fraunces-bold;
  src: url(../assets/font/Fraunces_9pt_Soft-Bold.ttf) format(TrueType);
}

@font-face {
  font-family: Fraunces-Light;
  src: url(../assets/font/Fraunces_9pt_Soft-Light.ttf) format(TrueType);
}

/* --- header --- */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/desktop/image-header.jpg);
  position: relative;
  background-size: cover;
}

/* .header-bg-img {
  object-fit: cover;
  z-index: 1;
} */

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  /* color: var(--White); */
}

.header-nav {
  gap: 4rem;
  display: flex;
}
.hamber {
  opacity: 0;
}

.header-link {
  color: var(--White);
  align-self: center;
  font-family: Barlow-bold;
  font-size: 2rem;
  padding: 1rem;
  border: none;
}

.header-link:hover {
  /* text-transform: uppercase; */
  background-color: #ffffff5e;
  border-radius: 4rem;
}

h1 {
  text-align: center;
  color: var(--White);
  font-family: Fraunces-bold;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 10rem;
}

.header-icon-arrow {
  position: absolute;
  left: 50%;
  top: 52%;
}

/* ------------------- */

.conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.conteiner > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-stand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  margin-left: 20%;
}

.text-stand h2 {
  font-family: Fraunces-bold;
  font-size: 4rem;
}

.text-stand p {
  font-family: Barlow-Light;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  width: 55rem;
  color: var(--dark);
  text-align: left;
}

.text-stand a {
  color: black;
  font-weight: 900;
  font-size: 1.7rem;
}

.item5,
.item6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item5 h2 {
  font-family: Fraunces-bold;
  font-size: 3rem;
  color: var(--Dark-desaturated);
  position: absolute;
  bottom: 23rem;
  align-self: center;
  /* margin: 0 30%; */
}

.item5 p,
.item6 p {
  color: var(--Dark-desaturated);
  font-family: Barlow-Light;
  font-weight: 700;
  width: 40rem;
  position: absolute;
  bottom: 10rem;
  text-align: center;
  line-height: 3.2rem;
  font-size: 2rem;
}

.item6 img,
.item5 img {
  width: 100%;
}

.item6 h2 {
  font-family: Fraunces-bold;
  font-size: 3rem;
  color: var(--Dark-blue);
  position: absolute;
  bottom: 23rem;
  text-align: center;
  /* margin: 0 35%; */
}
/* ------------ client ---------*/
.client-conteiner {
  height: 70rem;
  gap: 9rem;
  background-color: rgb(238, 238, 235);
}
.client-title {
  font-size: 3rem;
  color: var(--Grayish-blue);
  letter-spacing: 0.7rem;
  font-weight: 600;
  font-family: Fraunces-bold;
  text-align: center;
  padding: 9rem;
}

.client-admin {
  display: flex;
  justify-content: center;
  gap: 11rem;
  flex-wrap: wrap;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}

.admin p {
  font-family: Barlow-Light;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  width: 39rem;
  color: var(--dark);
}

.admin-img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.name-admin {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name-admin h3 {
  font-family: Fraunces-bold;
  font-size: 2rem;
  color: var(--dark-desaturated-blue);
}

.name-admin span {
  font-family: Barlow-Light;
  color: var(--Grayish-blue);
  font-size: 1.5rem;
  font-weight: 800;
}

/* -------- gallery -------- */
.gallery {
  /* width: 1528px; */
  display: flex;
}
.photos-gallery {
  width: 100%;
  height: 48rem;
}

/* -- ----- footer ----------- */

.footer-conteiner {
  background-color: var(--Dark-moderate);
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.footer-logo {
  width: 15rem;
}

.footer-nav,
.footer-icon {
  display: flex;
  gap: 4rem;
}
.footer-logo {
  fill: var(--Dark-desaturated);
}

.footer-link {
  color: var(--Dark-desaturated);
  font-family: Barlow-Light;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer-link:hover {
  color: var(--White);
}

/* .icon-conect:hover {
  background-color: var(--White);
} */

@media screen and (max-width: 501px) {
  .header-link {
    opacity: 0;
    padding: 0;
  }
  .conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .item2 {
    order: -1;
  }

  .text-stand {
    width: 1000%;
    margin: 0;
    text-align: center;
    margin: 4rem;
  }
  .text-stand p {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
  .text-stand h2 {
    font-size: 3rem;
  }

  .more-link::before {
    width: 4rem;
    height: 2rem;
    background: #000;
  }

  .item5 img,
  .item6 img {
    height: 100vh;
    object-fit: cover;
  }

  .client-conteiner {
    height: 150rem;
  }

  .client-admin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 200rem; */
  }

  .admin {
    gap: 4rem;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .photos-gallery {
    width: 50%;
    height: 30rem;
    object-fit: cover;
  }
}
